/* -*- coding: utf-8 -*- 
*
* Copyright Institut de Recherche et d'Innovation © 2014 
*
* contact@iri.centrepompidou.fr
*
* Ce code a été développé pour un premier usage dans JocondeLab, projet du 
* ministère de la culture et de la communication visant à expérimenter la
* recherche sémantique dans la base Joconde
* (http://jocondelab.iri-research.org/).
*
* Ce logiciel est régi par la licence CeCILL-C soumise au droit français et
* respectant les principes de diffusion des logiciels libres. Vous pouvez
* utiliser, modifier et/ou redistribuer ce programme sous les conditions
* de la licence CeCILL-C telle que diffusée par le CEA, le CNRS et l'INRIA 
* sur le site "http://www.cecill.info".
*
* En contrepartie de l'accessibilité au code source et des droits de copie,
* de modification et de redistribution accordés par cette licence, il n'est
* offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
* seule une responsabilité restreinte pèse sur l'auteur du programme,  le
* titulaire des droits patrimoniaux et les concédants successifs.
*
* A cet égard  l'attention de l'utilisateur est attirée sur les risques
* associés au chargement,  à l'utilisation,  à la modification et/ou au
* développement et à la reproduction du logiciel par l'utilisateur étant 
* donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
* manipuler et qui le réserve donc à des développeurs et des professionnels
* avertis possédant  des  connaissances  informatiques approfondies.  Les
* utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
* logiciel à leurs besoins dans des conditions permettant d'assurer la
* sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
* à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 
*
* Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
* pris connaissance de la licence CeCILL-C, et que vous en avez accepté les
* termes.
*
*/
@charset "UTF-8";

body {

 	font-family: Arial, Helvetica, sans serif;
 	font-size: 12px;
 	color: #4F5155;
 	margin: 5px;
 	padding: 0px;
 	min-width:750px;
	text-align: justify; 	
}
body p {
 	margin: 2px; 	
}

a img,a:link img, a:active img, a:visited img, a:hover img  {
	border:0px;
}


a:link
{
	color: #50a4a3;
	text-decoration: none;
	font-family:  Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
}

a:hover
{
	color: #50a4a3;
	text-decoration: none;
	font-family:  Arial, Helvetica, sans-serif;
	/*border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #2c8084;
	font-weight: bold;*/
}
a:visited {
	color: #50a4a3;
	font-family:  Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
}

.hda_blue{
  /*color: #97fefd;*/ 
  color: #86e6e5; 
}


#header
{
    padding: .2em;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#header a
{
    text-decoration: none;
}


#header_left
{
    padding: 0px;
	max-width: 8em;
	font-size: 30px;
	font-weight : bold;
	text-align: left;
    text-transform: uppercase;
}

#header_left p
{
 	margin: 0px;
}


#header_left a:hover, #header_left a:visited, #header_left a:link, #header_left a:active, #header_left a:focus
{
	color: #4F5155;
	text-decoration: none;
}


#header_right
{
	text-align: right;
}

#header_right a:link
{
	text-decoration: none;
	color: white;
}

#header_right a:hover
{
	text-decoration: none;
	color:  white;
}

#header_right a:visited {
	text-decoration: none;
	color: white;
}


#footer
{
    clear: both;
    margin: 0;
    padding: .5em;
    /*background-color: #ddd;*/
    border-top: 1px solid gray;
}

.version
{
    text-align: right;
    color: white;
    font-size:9px;
}

.version:hover
{
    color: #2c8084;
    text-decoration: none;
    font-weight: bold;
    border-bottom-width: 0px;
    border-bottom-style: none;
}

.small
{
    font-size:9px;
}

.footer_img
{
    float: left;
}

.footer_img img
{
    padding-left: 10px;
    padding-right: 10px;
}

.footer_img a
{
    color: white;
}

.footer_img a:link
{
    color: white;
}

.footer_img a:hover
{
    color: white;
}

.footer_img a:visited
{
    color: white;
}


#home_links
{
    line-height: 150%
}

#search_form_div {
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
    margin-bottom: 30px;
    background-color:#ececec;
    border: 1px solid #7E7E7E
}

#search_form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#search_form ul li {
	display: inline;
}

#toolbar {
	margin-top: 2px;
	margin-bottom: 2px;
	border-bottom: 2px solid #707070;
	padding-top : 0px;
	padding-bottom : 0px;
}
#toolbar ul{
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
	padding-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#toolbar ul li{
	display: inline;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 0px;
	padding-bottom : 0px;
}

#inner_content {
	padding: 5px 0px 50px 0px;
}

#loginstate {
	text-align: right;
}

.projectscontentstitle {
	color: #949494;
	font-family: Verdana;
	font-weight: lighter;
	font-size: 2.0em;
	font-style: normal;
	text-align: left;
}


#loginstate a, #loginstate a:hover, #loginstate a:visited, #loginstate a:link, #loginstate a:active {
    color:#0063DC;
    margin-right:4px;
    text-decoration:none;
}

#loginstate a:hover{
    text-decoration: underline;
}

#loginstate ul {
    margin:0;
    padding:0;
    float: left;
}
#loginstate li{
    display: inline;
    padding:0;
    margin:0;
}
#loginstate #user{
    color: #000000;
    font-weight: bold;
    margin-right:4px;
}
#loginstate ul .usertool a,
#loginstate ul .usertool a:link, 
#loginstate ul .usertool a:visited {
    color:#0063DC;
    text-decoration:none;
}

#loginstate ul .usertool a:hover {
    color:#0063DC;
    text-decoration:underline;
}

.errorlist
{
    color: red;
    font-size:12px;
}

tr.hdabooddline {
	background: #d8d8d8;
	/*background: #d6d7f6;*/
}
tr.hdaboevenline {
	background: white;
	/*background: #e6e6e6;*/
}
tr.hdabooddline:hover, tr.hdaboevenline:hover {
	background: lightblue;
	/*background: #e6e6e6;*/
}

tr.hdabosimpleoddline {
	background: #e4e4e4;
	/*background: #d6d7f6;*/
}
tr.hdabosimpleevenline {
	background: white;
	/*background: #e6e6e6;*/
}

tr.currenttermline {
	background: #FFFFA6;
}

#count_nav_top,
#count_nav_bottom {
	text-align: right;
}
#count_nav_bottom p,
#count_nav_top p {
	font-size: 12px;
	font-weight : bold;
}

#tag_table {
	width: 100%;
	border-spacing: 0px;
}
#tag_table td, th {
	/*border: thin solid #6495ed;*/
	padding: 3px;
}
.updown_td {
	width: 12px;
}

.sheet_title {
	font-size: 14px;
}

.complete_sheet {
	margin-left: 5px;
	margin-right: 5px;
}
.left_sheet {
	width: 38%;
	float: left;
}
.left_sheet p {
	margin-bottom: 5px;
}
.right_sheet {
	width: 60%;
	/*margin-left: 5px;*/
	float: right;
}

.large_25 {
	width: 25px;
}
.text_centered {
	text-align: center;
}
.text_left_aligned { 
    text-align: left;
}
.text_right_aligned { 
    text-align: right;
}


.hand_cursor, .reset_wp_info, .remove_wp_link, .remove_tag_from_list {
	cursor: pointer;
}
.updown_td {
	cursor: n-resize;
}

tr.dragged_row td {
    color: yellow;
    background-color: black;
}

#all_tags_table {
	min-width: 600px;
	border-spacing: 0px;
}
#all_tags_table td, th {
	/*border: thin solid #6495ed;*/
	padding: 3px;
}

/* styles for the 4 types of STATUS*/
.null_result {
	color: #000000;
}
.redirection {
	color: #0000ff;
    font-weight: bold;
    font-style: italic;
}
.homonyme {
	color: #000000;
    font-weight: bold;
}
.match {
	color: #0000ff;
    font-weight: bold;
}

.unsemantized {
	color: #ba0000;
}

#tags_actions span {
	margin-left: 5px;
}

#loginform_div {
	margin-left: 10px;
}

#login_fields_list, #submitcontent-buttons-login {
	margin: 10px 0px;
}

#search_results {
	margin-left: 10px;
}

.result_counter {
	color: #C6C6C6;
}

#search_prev_next {
	margin-top: 20px;
}

#page_number {
	text-align: right;
}

#term-list-table td {
	padding: 2px;
}

#term-list-table th {
    text-align: center;
}

.term-list-label {
	width : 500px;
}


#inner_content {
    padding-left: 30px;    
}

#term-filter-field-list {
	list-style-type: none;
	padding-left: 10px;
}

#term-filter-field-list li
{
    display: inline-block;
    list-style-type: none;
    padding-right: 5px;
    font-weight: bold;
    color: gray;
}

#term-filter-field-list label {
    display: block;
}



#wrapper {
    width:1280px;
    margin:0 auto 0 0;
}

#term-filter-top-container {
	margin-bottom: 20px;
}

#term-explorer-container {
	width: 580px;
	float: left;
	padding:10px;
}

#term-detail-container {
    width: 660px;
    float: right;
    padding:10px;
}

#tags_commands {
	margin-bottom: 10px;
}

#term-table > tr > td:first-child {
	padding-right:10px;
}

#edition-wk > td > span {
	margin-right:10px;
}

#info-wk > td > span {
    margin-right:10px;
}

.searchmatch {
	color: #c000c0;
}

#wp-infobox {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: default;
	max-width: 300px;
	padding: 0 10px 10px 10px;
}

.wp-infobox-wp-link {
	margin-bottom: 1em;
}

#wp-infobox a {
	color: rgb(80, 164, 163);
}

.wp-img {
	float: left;
	max-width: 80px;
	max-height: 60px;
	margin: 5px 2px 2px 0px;
	padding-right: 5px;
}

.wp-missing-img {
    background: #ffffff url('../img/Wikipedia-logo-v2-fr.png') no-repeat;
    width: 57px;
    height: 60px;
}

#prev-next-prev-link {
	float: left;
}

#prev-next-next-link {
    float: right;
}

#prev-next-clear {
	clear: both; 
}

#prev-next {
	height: 25px;
	padding-right: 256px;
}

.notice-outer-container > table {
	border-collapse: separate;
}

.notice-container {
 	border: thin solid black;
	vertical-align: top;
	padding: 4px;
}

.notice-img {
	width: 85px;
	height: 128px;
/* 	border: thin solid red; */
	float:left;
}

.notice-img > img {
    max-width: 85px;
    max-height: 128px;
}

.notice-desc {
	float:right;
	width: 170px;
}

.notice-field-title {
	text-align: right;
	color:  rgb(10, 115, 144);
	width: 30px;
}
.notice-field-val {
    text-align: left;
    padding-left: 5px;
    max-width: 140px;
}

.jstree-error {
	font-weight: bold;
	color: red;
}

#dialog-link-container {
	min-width: 100px;
	height: 18px;
	padding: 1px 1px 0px 1px;
	vertical-align: middle;
}

#term-filter-field-list #label {
	padding-top : 0px;
	padding-bottom: 0px;
}

#dialog-deselect {
	float: right;
	margin-left: 5px;
	cursor: pointer;	
}