{# -*- coding: utf-8 -*- #}

{# Copyright Institut de Recherche et d'Innovation © 2014                    #}
{# contact@iri.centrepompidou.fr                                             #}

{# Ce code a été développé pour un premier usage dans JocondeLab, projet du  #}
{# ministère de la culture et de la communication visant à expérimenter la   #}
{# recherche sémantique dans la base Joconde                                 #}
{# (http://jocondelab.iri-research.org/).                                    #}

{# Ce logiciel est régi par la licence CeCILL-C soumise au droit français et #}
{# respectant les principes de diffusion des logiciels libres. Vous pouvez   #}
{# utiliser, modifier et/ou redistribuer ce programme sous les conditions    #}
{# de la licence CeCILL-C telle que diffusée par le CEA, le CNRS et l'INRIA  #}
{# sur le site "http://www.cecill.info".                                     #}

{# En contrepartie de l'accessibilité au code source et des droits de copie, #}
{# de modification et de redistribution accordés par cette licence, il n'est #}
{# offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons, #}
{# seule une responsabilité restreinte pèse sur l'auteur du programme,  le   #}
{# titulaire des droits patrimoniaux et les concédants successifs.           #}

{# A cet égard  l'attention de l'utilisateur est attirée sur les risques     #}
{# associés au chargement,  à l'utilisation,  à la modification et/ou au     #}
{# développement et à la reproduction du logiciel par l'utilisateur étant    #}
{# donné sa spécificité de logiciel libre, qui peut le rendre complexe à     #}
{# manipuler et qui le réserve donc à des développeurs et des professionnels #}
{# avertis possédant  des  connaissances  informatiques approfondies.  Les   #}
{# utilisateurs sont donc invités à charger  et  tester  l'adéquation  du    #}
{# logiciel à leurs besoins dans des conditions permettant d'assurer la      #}
{# sécurité de leurs systèmes et ou de leurs données et, plus généralement,  #}
{# à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.        #}

{# Le fait que vous puissiez accéder à cet en-tête signifie que vous avez    #}
{# pris connaissance de la licence CeCILL-C, et que vous en avez accepté les #}
{# termes.                                                                   #}
{% load i18n %}

{% for notice in notices %}
    <li class="notice-item" data-notice-id="{{notice.id}}"{% if last_page and forloop.last %} data-last-notice="true"{% endif %}>
        <div class="notice-contents">
            <a href="{% url 'front_notice' notice.id %}" class="update-ids" data-id="{{ notice.id }}" title="{{notice.imagetitle}}">
                <img class="notice-image" alt="{{notice.imagetitle}}" src="{{notice.image}}" onerror="window.onResultImageError(this);" />
            </a>
            <div class="notice-metadata">
                <ul>
                {% if notice.terms_by_thesaurus.AUTR.translated or notice.terms_by_thesaurus.AUTR.untranslated %}
                     <li class="notice-thesaurus">
                         <ul class="notice-term-list">
                            <li class="notice-label">{% trans 'Artiste(s)&nbsp;:' %}</li>
                         {% for term in notice.terms_by_thesaurus.AUTR.translated %}
                            <li class="notice-term">
                                <a href="{% url 'front_search' %}?dbpedia_uri={{term.dbpedia_uri|urlencode}}" data-dbpedia-uri="{{term.dbpedia_uri}}">{{term.label}}</a>
                            </li>
                         {% endfor %}
                         {% for term in notice.terms_by_thesaurus.AUTR.untranslated %}
                            <li class="notice-term term-untranslated" dir="ltr">{{term.label}}</li>
                         {% endfor %}
                         </ul>
                     </li>
                {% endif %}
                {% if notice.title %}
                </ul>
                    <h2>
                        <a href="{% url 'front_notice' notice.id %}" class="update-ids" data-id="{{ notice.id }}"><span class="notice-title" dir="ltr">{{notice.title|truncatechars:60}}</span></a>
                    </h2>
                <ul>
                {% endif %}
                {% if notice.terms_by_thesaurus.DOMN.translated %}
                     <li class="notice-thesaurus">
                         <ul class="notice-term-list">
                            <li class="notice-label">{% trans 'Domaine(s)&nbsp;:' %}</li>
                         {% for term in notice.terms_by_thesaurus.DOMN.translated %}
                            <li class="notice-term">
                                <a href="{% url 'front_search' %}?dbpedia_uri={{term.dbpedia_uri|urlencode}}" data-dbpedia-uri="{{term.dbpedia_uri}}">{{term.label}}</a>
                            </li>
                         {% endfor %}
                         </ul>
                     </li>
                {% endif %}
                {% if notice.designation and not notice.title %}
                    <li class="notice-thesaurus">
                        <ul class="notice-term-list">
                            <li class="notice-label">{% trans 'Désignation&nbsp;:' %}</li>
                            <li class="notice-term term-untranslated" dir="ltr">{{notice.designation}}</li>
                        </ul>
                    </li>
                {% endif %}
                {% if notice.terms_by_thesaurus.REPR.translated %}
                    <li class="notice-thesaurus">
                        <ul class="notice-term-list">
                            <li class="notice-label">{% trans 'Sujet représenté&nbsp;:' %}</li>
                        {% for term in notice.terms_by_thesaurus.REPR.translated|slice:":6" %}
                            <li class="notice-term">
                                <a href="{% url 'front_search' %}?dbpedia_uri={{term.dbpedia_uri|urlencode}}" data-dbpedia-uri="{{term.dbpedia_uri}}">{{term.label}}</a>
                            </li>
                        {% endfor %}
                        {% if notice.terms_by_thesaurus.REPR.translated|length > 8 %}
                            <li class="notice-term term-untranslated">
                                <a href="{% url 'front_notice' notice.id %}" class="update-ids" data-id="{{ notice.id }}" title="{{notice.imagetitle}}">&hellip;</a>
                            </li>
                        {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if notice.datation or notice.years %}
                     <li class="notice-thesaurus">
                         <ul class="notice-term-list">
                            <li class="notice-label">{% trans 'Datation&nbsp;:' %}</li>
                         {% for term in notice.datation %}
                            <li class="notice-term">
                                <a href="{% url 'front_search' %}?dbpedia_uri={{term.dbpedia_uri|urlencode}}" data-dbpedia-uri="{{term.dbpedia_uri}}">{{term.label}}</a>
                            </li>
                         {% endfor %}
                         {% if notice.years %}
                         {% endif %}
                            <li class="notice-years"><span class="notice-year">{{notice.years.0}}</span>{% if notice.years.0 != notice.years.1 %} – <span class="notice-year">{{notice.years.1}}</span>{% endif %}</li>
                         </ul>
                     </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </li>
{% endfor %}